html {
  background-color: #b6e1fc;
  color: darkslategray;
  font-family: Helvetica;
  max-width: 800px;
  margin: auto;
}

header {
  background-color: white;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: green;
}

.homestead{
   margin:auto;
   text-align: center;
}

.Truegift {
  border:1px
  border-radius: 10px;
  color: white;
}

img {
  border: 15px solid skyblue;
  border-radius: 300px;
  height: 300px;
  width: 300px;
}

footer {
  background-color: white;
  padding: 10px;
  text-align: left;
  color: white;
  padding-left: 100px;
}

body {
  border: 3px solid purple;
  border-radius: 10px;
}

body {
  padding: 16px;

}

#Mission{
  background-color:cornsilk;
}

#Founder{
  background-color:cornsilk;
}
