html {
  background-color: skyblue;
  color: black;
  font-family: Helvetica;
  max-width: 800px;
  
}
.homestead{
   margin:auto;
   text-align: center;
}
.about {
   text-align: left;
}

.Truegift {
  border:1px
  border-radius: 10px;
  color: white;
}
#button1 {
  margin:auto;
  align-content: center;
  background-color: #e6ffe6;
  height: 50px;
  width:200px;
  border-color: white;
  font-size: 24px;
}

img {
  border: 15px solid skyblue;
  border-radius: 300px;
}

body {
  padding: 16px;
}

img {
  height: 300px;
  width: 300px;
}

#Mission{
  background-color:cornsilk;
}

#Founder{
  background-color:cornsilk;
}
