<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Us</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <script src = "/static/js/index.js"></script>
  </head>
  <body>
    <header>
      <h1 id="Brand">True Gift</h1>
    </header>
    <br>
    <section id= "about_us_buttons">
      <button  onclick="window.location.href = '/';" id = 'backbutton'> Go back! </button>
      <button  onclick="window.location.href = '/newdonation';" id = 'backbutton'> Donate Now! </button>
    </section>
    <br>
    <section id= "Mission">
      <h2>Mission</h2>
        <section id="font">
          <p>Still in shape, and can be used.
            Do not need it anymore, but want to give it a good home.
            True Gift is a donation site. We wish to connect people in the
            community and provide to those who are in needs.
          </p>
        </section>

<br>
    </section>
    <section id="Founder">
      <h2>Founders</h2>
        <h3>Jared Garcia</h3>
          <p>Working on a biomedical engineering degree at San Jose State University.
            Spontaneously and inconsistently somewhat talented. </p>
        <h3>Jose Monroy Villalobos</h3>
          <p>Aspiring computer engineer at San Jose State University.
            Jose was forcibly removed from the team. 20 minutes later he finessed his way back.</p>
        <h3>Jennifer Yang</h3>
          <p>Pursuing a software engineer at San Jose State University. World renown athlete
            incapacitated by an ankle sprain. Now by day she codes and by night she sleeps.</p>
    </section>
  </body>

        <img id="team-photo" src="https://github.com/jennifury/donating-app/blob/Jennifer/IMG_1564.JPG?raw=true" alt="">
        <br>
        <img id="mini-logo"src="https://raw.githubusercontent.com/jennifury/donating-app/Jose/Image%207-29-19%20at%204.27%20PM.jpg"/> <br>


  <footer>

  </footer>
</html>
