<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Us</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <script src = "/static/js/index.js"></script>
  </head>
  <body>
    <header>
      <h1 id="Brand">True Gift</h1>
    </header>

    <section id= "Mission">
      <h2>Mission</h2>
      <p>Still in shape, and can be use.
        Do not need it anymore, but want to give it a good home.
        True Gift is a donation site. We wish to connect people in the
        community and provide to those who are in needs.
      </p>
    </section>
    <section id="Founder">
      <h2>Founders</h2>
      <h3>Jared Garcia</h3>
      <p>.....</p>
      <h3>Jose Monroy Villalobos</h3>
      <p>.....</p>
      <h3>Jennifer Yang</h3>
      <p>She is a sofware engineering...</p>
    </section>
<footer>
  <img src="https://i.imgur.com/Bqb3W92.png" alt="logo"
    height= "100px";
    width="100px";
  >
</footer>

  </body>
</html>
