<html lang="en-US" class = 'homestead'>
  <head>
    <meta charset="utf-8">
    <title>True Gift</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <script src = "/static/js/index.js"></script>
  </head>
  <body>

    <h1>Donations</h1>

    <h2></h2>
    <p> <a href='/newdonation'>Donate Today!</p>
#card stuff
    <section class="grid" >
      <article class="card">
        <picture class="donation_image">
          
        </picture>
        <div class="card-content">
          <p class= "item">1st item</p>
          <p>Owner</p>
          <p>Description</p>
        </div>
        #foot
        <footer>
          <div class="post-meta">
            <p>Time</p>

          </div>

        </footer>
      </article>

    </section>

  </body>

  <footer>
    <div id = 'about'>
      <a href="/about_us">About us </a>
    </div>
  </footer>
</html>
