<!DOCTYPE html>
<html lang="en-US" class = 'homestead'>
  <head>
    <meta charset="utf-8">
    <title>True Gift</title>
    <link rel="stylesheet" href="static/css/index.css">
  </head>
  <body>
    <header>
    <h1>True Gift</h1>
    </header>

<br> <br>
	<img id="logo"src="https://raw.githubusercontent.com/jennifury/donating-app/Jose/Image%207-29-19%20at%204.27%20PM.jpg"/> <br>
	<br>
        <button onclick ="window.location.href = '/newdonation';" id = 'button1'>Donate Today</button>
        <button onclick ="window.location.href = '/donation_display';" id = 'button1'>Grab Today</button>
        <br><br><br><br><br><br><br><br><br><br>
    <footer id= "pagefooter">
      <div id = 'about'>
      	<a href="/about_us">About us </a>
      </div>
    </footer>

  </body>
</html>
