<!DOCTYPE html>
<html lang="en-US" class = 'homestead'>
  <head>
    <meta charset="utf-8">
    <title>True Gift</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <script src = "/static/js/index.js"></script>
  </head>
  <body>
    <header>
    <h1>True Gift</h1>
    </header>
    <br>
    <h2>Item</h2>

    <h2></h2>
    <img src="https://image.shutterstock.com/image-vector/circle-tree-logo-isolated-on-260nw-1215183556.jpg"/>
    <p> <a href='/newdonation'>Donate Today!</p>
    <a href="/about_us">About us </a>
  </body>
  <footer>
    <div id = 'about'>
      <a href="/about_us">About us </a>
    </div>
  </footer>
</html>
