<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Donation Post Creation</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <script src = "/static/js/index.js"></script>
  </head>
<body>
  <header>
  <h1>True Gift</h1>
  </header>
  <br>
  <button src = "https://www.pinclipart.com/picdir/middle/1-16646_picture-of-arrow-pointing-left-navy-blue-arrow.png" onclick="window.location.href = '/';" id = 'backbutton'> Go back! </button>
  <h2>Donation Post</h2>

<form id = "post_data" action = "/newdonation" method="post">
  Your name:<br>
  <input type="text" name="name" required="required"><br>
  Your item: <br>
  <input type="text" name="item" required="required"><br><br>
  Upload an image!<br>
  <input type="file" name="pics" accept="image/*" required="required" multiple> <br> <br>
  Insert a description of your item(s) below:<br>
  <textarea rows="10" cols="50" placeholder="Type text here" name = "paragraph" required="required"></textarea> <br>
  <input type="submit" value="Submit!">
</form>

</body>
<br>
<footer>
  <div id = 'about'>
    <a href="/about_us">About us </a>
  </div>
</footer>

</html>
