<!DOCTYPE html>
<html lang="en" dir="ltr" class = 'homestead'>
  <head>
    <meta charset="utf-8">
    <title>Thank you</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <script src = "/static/js/index.js"></script>
  </head>
  <header>
    <h1>True Gift</h1>
  </header>
    <br>
  <h3>Thank you for your submission! <br> Click on 'Grab Today' on the homepage to see your post!</h3>
  <button onclick ="window.location.href = '/';" id = 'button1'> Return Home </button>

    <br><br><br>
  <footer>
    <div id = 'about'>
      <a href="/about_us">About us </a>
    </div>
  </footer>

</html>
